<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<div class="container mt-5">
    <div class="row mb-5" style="width: 500px;">
        <div class="input-group">
            <input [(ngModel)]="text" type="text"  class="form-control">
            <span class="input-group-btn">
                 <button (click)="addText(text)" class="btn btn-primary" type="button">Encrypt text</button>
            </span>
         </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="bg-secondary text-white overflow-auto" style="height: 400px; width: 300px;">
                <li *ngFor="let text of texts" class="mb-1">{{text}}</li>
            </div>
        </div>
        <div class="col">
            <div class="bg-secondary text-white overflow-auto" style="height: 400px; width: 600px;">
                <li *ngFor="let text of encrypttexts" class="mb-1">{{text}}</li>
            </div>
        </div>
    </div>
</div>

